In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving marketing_data.xlsx to marketing_data.xlsx

In [ ]:
marketing_data = pd.read_excel(r'marketing_data.xlsx', engine='openpyxl')
marketing_data

,ID,Year_Birth,Education,Marital_Status,Income,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,NumWebPurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2
0,1826,1970,Graduation,Divorced,"$84,835.00",6/16/14,0,189,104,379,111,4,1,0,0,0,0,0
1,1,1961,Graduation,Single,"$57,091.00",6/15/14,0,464,5,64,7,7,5,0,0,0,0,1
2,10476,1958,Graduation,Married,"$67,267.00",5/13/14,0,134,11,59,15,3,2,0,0,0,0,0
3,1386,1967,Graduation,Together,"$32,474.00",5/11/14,0,10,0,1,0,1,7,0,0,0,0,0
4,5371,1989,Graduation,Single,"$21,474.00",4/8/14,0,6,16,24,11,3,7,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10142,1976,PhD,Divorced,"$66,476.00",3/7/13,99,372,18,126,47,5,4,0,0,0,0,0
2236,5263,1977,2n Cycle,Married,"$31,056.00",1/22/13,99,5,10,13,3,1,8,0,0,0,0,0
2237,22,1976,Graduation,Divorced,"$46,310.00",12/3/12,99,185,2,88,15,6,8,0,0,0,0,0
2238,528,1978,Graduation,Married,"$65,819.00",11/29/12,99,267,38,701,149,5,3,0,0,0,0,0
2239,4070,1969,PhD,Married,"$94,871.00",9/1/12,99,169,24,553,188,8,7,0,1,1,0,0

In [ ]:
persentase_null_values = marketing_data.isnull().sum()/len(marketing_data)*100
persentase_null_values

ID                   0.000000
Year_Birth           0.000000
Education            0.000000
Marital_Status       0.000000
 Income              1.071429
Dt_Customer          0.000000
Recency              0.000000
MntWines             0.000000
MntFruits            0.000000
MntMeatProducts      0.000000
MntFishProducts      0.000000
NumWebPurchases      0.000000
NumWebVisitsMonth    0.000000
AcceptedCmp3         0.000000
AcceptedCmp4         0.000000
AcceptedCmp5         0.000000
AcceptedCmp1         0.000000
AcceptedCmp2         0.000000
dtype: float64

In [ ]:
persentase_null_values = marketing_data.isnull().sum()/len(marketing_data)*100
persentase_null_values

ID                   0.000000
Year_Birth           0.000000
Education            0.000000
Marital_Status       0.000000
 Income              1.071429
Dt_Customer          0.000000
Recency              0.000000
MntWines             0.000000
MntFruits            0.000000
MntMeatProducts      0.000000
MntFishProducts      0.000000
NumWebPurchases      0.000000
NumWebVisitsMonth    0.000000
AcceptedCmp3         0.000000
AcceptedCmp4         0.000000
AcceptedCmp5         0.000000
AcceptedCmp1         0.000000
AcceptedCmp2         0.000000
dtype: float64

In [ ]:
marketing_data.dtypes

ID                    int64
Year_Birth            int64
Education            object
Marital_Status       object
 Income              object
Dt_Customer          object
Recency               int64
MntWines              int64
MntFruits             int64
MntMeatProducts       int64
MntFishProducts       int64
NumWebPurchases       int64
NumWebVisitsMonth     int64
AcceptedCmp3          int64
AcceptedCmp4          int64
AcceptedCmp5          int64
AcceptedCmp1          int64
AcceptedCmp2          int64
dtype: object

In [ ]:
marketing_data['Dt_Customer'] =  pd.to_datetime(marketing_data['Dt_Customer'], format='%x')
marketing_data['Dt_Customer']

0      2014-06-16
1      2014-06-15
2      2014-05-13
3      2014-05-11
4      2014-04-08
          ...
2235   2013-03-07
2236   2013-01-22
2237   2012-12-03
2238   2012-11-29
2239   2012-09-01
Name: Dt_Customer, Length: 2240, dtype: datetime64[ns]

In [ ]:
performance_ads = marketing_data[['Dt_Customer', 'AcceptedCmp1', 'AcceptedCmp2', 'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5']]
performance_ads

,Dt_Customer,AcceptedCmp1,AcceptedCmp2,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5
0,2014-06-16,0,0,0,0,0
1,2014-06-15,0,1,0,0,0
2,2014-05-13,0,0,0,0,0
3,2014-05-11,0,0,0,0,0
4,2014-04-08,0,0,1,0,0
...,...,...,...,...,...,...
2235,2013-03-07,0,0,0,0,0
2236,2013-01-22,0,0,0,0,0
2237,2012-12-03,0,0,0,0,0
2238,2012-11-29,0,0,0,0,0
2239,2012-09-01,0,0,0,1,1

In [ ]:
performance_ads.to_csv(r'performance_ads.csv')